/* if using max sizes (as we are), then keep larger-sized breakpoints towards the top, smaller-sized breakpoints towards the bottom*/

/* PORTRAIT */
@media only screen and (orientation : portrait) and (min-device-width:768px){
  /* iPad */
 #independent_case_popup {
   width:90%;
 }
 .ui_panel {
   width:50%;
 }
 .mdc-top-app-bar {
  width:50%;
  }
}

@media only screen and (orientation : portrait) and (max-device-width:768px){
  /* iPad */
 #independent_case_popup {
   width:90%;
 }
 .ui_panel {
  width:50%;
  }
 .mdc-top-app-bar {
  width:70%;
  }
}

@media only screen and (orientation : portrait) and (max-device-width:540px){
  /* surface duo */
 #independent_case_popup {
   width:90%;
 }
 .ui_panel {
  width:50%;
  }
 .mdc-top-app-bar {
  width:99%;
  }
}

@media only screen and (orientation : portrait) and (max-device-width:411px){
  /* Pixel 2 portrait */
 .mdc-top-app-bar {
    width:99%;   
  }
  .ui_panel {
    width:50%;
  }
}

@media only screen and (orientation : portrait) and (max-device-width:320px){
  /* iPHONE VERTICAL */
 #independent_case_popup {
   width:90%;
 }
 .ui_panel {
  width:50%;
  }
}

@media only screen and (orientation : portrait) and (max-device-width:280px){
  /* WEIRDO OUTLIER - Galaxy Fold turned vertical */
  #independent_case_popup {
    width:90%;
  }
  .ui_panel {
    width:50%;
    }
}


/* LANDSCAPE */
@media only screen and (orientation : landscape) and (min-device-width:1366px){
  /* This covers most larger orientations, like your default PC */
 #independent_case_popup {
   width:90%;
 }
 .ui_panel {
  width:100%;
  }
 .mdc-top-app-bar {
  width:41%;
  }
}

@media only screen and (orientation : landscape) and (max-device-width:1366px){

 #independent_case_popup {
   width:90%;
 }
 .ui_panel {
  width:100%;
  }
 .mdc-top-app-bar {
  width:42%;
  }
}

@media only screen and (orientation : landscape) and (max-device-width:1024px){
  /* iPad landscape */
 #independent_case_popup {
   width:90%;
 }
 .ui_panel {
  width:50%;
  }
 .mdc-top-app-bar {
  width: 46%;
  }
}

@media only screen and (orientation : landscape) and (max-device-width:823px){
  /* Pixel 2 XL landscape */
 #independent_case_popup {
   width:90%;
 }
 .ui_panel {
  width:50%;
  }
 .mdc-top-app-bar {
  width: 57%;
  }
}



@media only screen and (orientation : landscape) and (max-device-width:812px){
  /* iPhoneX landscape */
 #independent_case_popup {
   width:90%;
 }
 .ui_panel {
  width:50%;
  }
 .mdc-top-app-bar {
  width: 56%;
  }
}

@media only screen and (orientation : landscape) and (max-device-width:736px){
  /* iPhone 6/7/8 landscape */
 #independent_case_popup {
   width:90%;
 }
 .ui_panel {
  width:50%;
  }
 .mdc-top-app-bar {
  width: 71%;
  }
}

@media only screen and (orientation : landscape) and (max-device-width:731px){
  /* pixel 2 landscape */
 #independent_case_popup {
   width:90%;
 }
 .ui_panel {
  width:50%;
  }
 .mdc-top-app-bar {
  width:71%;
  }
}

@media only screen and (orientation : landscape) and (max-device-width:568px){
  /* iPHONE 5 landscape */
 #independent_case_popup {
   width:90%;
 }
 .ui_panel {
  width:50%;
  }
 .mdc-top-app-bar {
  width:72%;
  }
}

@media only screen and (orientation : landscape) and (max-device-width:480px){
  /* iPHONE 4 landscape */
 #independent_case_popup {
   width:90%;
 }
 .ui_panel {
  width:50%;
  } 
 .mdc-top-app-bar {
  width:99%;
  }
}




/* 0 - 544 */
.esri-view-width-xsmall .esri-popup__main-container {
	width:99%;
}
/* 545-768 */
.esri-view-width-small .esri-popup__main-container {
	width:70%;
}
/* 769-992 */
.esri-view-width-medium .esri-popup__main-container {
	width:55%;
}
/* 993-1200 */
.esri-view-width-large .esri-popup__main-container {
	width:45%;
}
/* 1201+ */
.esri-view-width-xlarge .esri-popup__main-container {
	width:40%;
}