html,
body {
  font-family:"Avenir Next W00",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size:14px;
  line-height:16px;
  -webkit-font-smoothing: subpixel-antialiased;
}
table {
  border:none;
  margin:0;
  padding:0;
}
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}

th{
  font-weight:900;
  /*line-height:1.0em;*/
  margin-top:4px;
}

.mdc-top-app-bar__row {
  height:50px;
}


#mapViewDiv {
  min-height:10px;
  height:250px;
  max-height:350px;
  min-width:100px;
  width:100%;  
  max-width:1000px;
  position:relative;
}

#results {
  min-width:50%;
  max-width:1000px;

  /*
  position:absolute;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 0px;
  margin-top:50px;
  margin-bottom:50px;
  margin-right:0px;
  margin-left:0px;
  left:0px;*/
}

/*Search */
#searchbox {
  margin-top:1%;
  margin-bottom:0.5%;
  min-width:100px;
  width:100%;
  max-width:1000px;
  /*
  position:absolute;
  width:70%;
  top:0px;
  left:0px;
  width:100%;*/
  border:0.5px solid #939598;
}

.esri-input[type="text"] {
  font-size:18px;
  font-weight:500;
  height:50px;
  padding: 0 0.5em;
  border-bottom:1px solid #939598;
  border-right: solid 1px rgba(110,110,110,0.3);
  color:#5ca863;
}
.esri-search__submit-button {
  border:none;
}

/*Body */
:root {
  --mdc-theme-primary: #113858;
  --mdc-theme-on-primary: #939598;
  }

.durm-body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.durm-main {
  padding-left: 16px;
  padding-bottom: 0px;
  overflow: auto;
}

.durm-drawer {
  z-index:1;
}

.mdc-top-app-bar__title {
  font-family:inherit;
}


.app-drawer-layout {
  display: flex;
  flex-direction:column;
  flex: 1;
}

  /*Shrink MDC Drawer */
  .mdc-drawer {
    width:210px;
  }
  .mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing)+.mdc-drawer-app-content {
   margin-left:210px
 }
 
.mdc-drawer--dismissible {
    top: 50px;
    height: calc(100% - 64px);    
}

.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  padding: 0;
  margin-top:-5px;
  top:-10px;
}


/* result items */
.ulwideflex {
  list-style-type: none;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom:0px;
  padding-left: 0px;
  margin-top:0px;
  margin-bottom:0px;
  margin-right:0px;
  margin-left:0px;
}

.liitem {
  padding:0;
  margin:0;
  width:auto;
}

.header_td {
  font-weight:900;
}

.addr_res_conf {
  display:block;
  /*padding-top: 1%;
  padding-right: 0px;
  padding-bottom: 1%;
  padding-left: 4px;
  margin-top:0px;
  margin-bottom:0px;
  margin-right:0px;
  margin-left:0px;*/
}
.segment_li {
  margin-left:5%;
  width:95%;
}
.segment_li table {
  line-height:1em;
  font-size:13px;
}

.nearestlbl {
  display:block;
  padding-left:4px;
  padding-top:18px;
  font-size:1.75rem;
  font-weight:400;
}

.park_li {
  height:auto;
}

.dpslogo {
  padding-left:1%;
}

.schoollink {
  color:#5ca863;
  text-decoration: none;
  padding:0;
  font-weight:500;
  font-size:1.75rem;
  line-height:1.2rem;
}

.grades {
  font-size:1em;
  line-height:1.2em;
  font-weight:500;
}

.school_type_ul {
  list-style-type:none;
  padding:0;
  margin:0;
}

.h4assignment {
  margin-top:24px;
  margin-left:16px;
  margin-bottom:12px; 
  line-height:1em;
  padding:0;
  font-size:1.3rem;
  font-weight:700;
  
}

.school {
  margin:0;
  /*padding-left:16px;*/
}

.grades{
  margin:0;
}

.addr{
  margin:0;
}

.hrs{
  margin:0;
}



/*property */
.propertyphoto {
  max-width:65%;
  margin-left:0;
}

.yeartoggleul {
list-style-type: none;
display:inherit;
position:relative;
margin:5px 10px;
padding:5px 10px;
line-height:52px;
}

.yeartoggleli {
  display:inline-block;
  padding-right:25px;
  height:52px;
}

.yeartogglebutton {
  background-color:#5ca863;
  border:1px solid #5ca863;
  width:200px;
  font-weight:500;
}


.layer_load_fail_alert {
  position:absolute;
  bottom:60px;
  left:0px;
  width:auto;
  font-size:20px;
  font-family:'Courier New', Courier, monospace;
  color:#bf1e2e;
  font-weight:500;
}

.result_container {
  border:0;
}

.new_school_warning {
  color:#bf1e2e;
  font-weight:400;
  font-size:13px;
  padding:0.3%;
  margin:0.3%;
  border:1px solid rgb(160, 91, 34);

}

.result2025 {
  color:#5ca863;
  text-decoration: none;
  padding:0;
  font-weight:500;
  font-size:1.75rem;
  line-height:1.75rem;
}

.progtypelabel {
  text-decoration: none;
  color:#bf1e2e;
  padding:0;
  font-weight:500;
}

.dpsredtext {
  color:#bf1e2e;
}

.dpsredlink {
  color:#bf1e2e;
}

.h4specialmsg {
  margin-top:12px;
  margin-left:16px;
  margin-right:16px;
  margin-bottom:12px;
  padding:0;
  font-size:1.1rem;
  font-weight:500;
}

.esri-search__submit-button {
  height:50px;
  width:50px;
}

.esri-search__clear-button {
  height:50px;
  width:50px;
}