@media only screen and (max-device-width:480px){
	 /* TINY MOBILE PHONES styles for mobile browsers smaller than 480px; (iPhone) */
	 /* i.e.  a Pixel 2 turned upright */ 
	
	 /*Shrink MDC Top Bar */
	 .mdc-top-app-bar__row {
		height:40px;
	}

	 /*Shrink MDC Drawer */
	 .mdc-drawer {
		 width:110px;
	 }
	 .mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing)+.mdc-drawer-app-content {
		margin-left:110px
	}
	/*Shrink icons inside MDC drawer*/
	 .mdc-drawer .mdc-list-item {
		 margin:0;
	 }
	 .mdc-list-item__graphic {
		 margin-right:4px;
	 }
	 /*Shrink Fonts in MDC Drawer */
	 .mdc-drawer .mdc-list-item{
		font-family:Roboto,sans-serif;
		-moz-osx-font-smoothing:grayscale;
		-webkit-font-smoothing:antialiased;
		font-size:.775rem;
		line-height:1.375rem;
		font-weight:500;
		letter-spacing:.0071428571em;
		text-decoration:inherit;
		text-transform:inherit;
		height:calc(48px - 2 * 4px);
		margin:4px 4px;
		padding:0 4px;
	}
	/* Shrink fonts */
	.schoollink {
		font-size:1.25rem;
	}
	.grades {
		font-size:0.85rem;
	}
	.addr {
		font-size:0.85rem;
	}
	.hrs{
		font-size:0.85rem;
	}

	 /* Shrink Map */
	 #mapViewDiv {
		 max-height:100px;
	 }
}


/* default iPad screens
@media only screen and (device-width:768px){}
different techniques for iPad screening - For portrait layouts only
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {}
*/

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
	/* For landscape layouts only */
	/* This is used by the iPhone in landscape */
		 /* Shrink Map */
		 #mapViewDiv {
			max-height:100px;
		}
}

@media only screen and (min-width:481px) and (min-height: 481px){
	/* SMALL BROWSER - styles for browsers larger than 960px; */
	/* some of the elements start to get cramped.  marcus uses this size */
	/* ipads also use this size */
}

@media only screen and (min-width:960px){
	/* MEDIUM BROWSER - styles for browsers larger than 960px; */
	/* some of the elements start to get cramped */
}
@media only screen and (min-width:1440px){
	/* LARGE BROSWER styles for browsers larger than 1440px; */
	/* this is more or less the "Max desktop size" you should expect to see. */
}
@media only screen and (min-width:2000px){
	/* MEGA BROWSER - for ridiculously large sizes, macs, sumo sized screens, space ships -  */
}
